<html>
<head>
    <title>Capteurs BigCorp</title>
    {{> partial-import}}
</head>
<body>
{{> partial-header}}
<div class="container">
    <h1>Liste des capteurs{{#captors.0.siteName}} du site {{captors.0.siteName}}{{/captors.0.siteName}}</h1>
    {{#captors.0.siteId}}
    <div class = "form-group">
        <a class="btn btn-primary" href="/sites/{{captors.0.siteId}}/captors/create">Nouveau capteur</a>
    </div>
    {{/captors.0.siteId}}
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#captors}}
            <tr>
                <td>{{name}}</td>
                <td>{{powerSource}}</td>
                <td><a class="btn btn-primary" href="/sites/{{siteId}}/captors/{{id}}"
                       role="button">Editer</a></td>
            </tr>
        {{/captors}}
        </tbody>
    </table>
</div>
{{> partial-footer}}
</body>
</html>