<html>
<head>
    <title>Sites BigCorp</title>
    {{> partial-import}}
</head>
<body>
{{> partial-header}}
<div class="container">
    <h1>Création capteur fixe</h1>
</div>
{{> partial-footer}}
</body>
</html>